{% assign collectionId = section.settings.slider_collection %}
{% assign limit = section.settings.product_limit | default: 3 %}
{% assign collection = collections[collectionId] %}

<div class="product-slider">
    <div class="flex align-stretch justify-center flex-wrap product-slider__list" id="product-slider">
        {% for product in collection.products limit: limit %}
            {% assign parsedName = product.title | split: ' ' %}
            <div class="flex flex-col product-slider__item">
                <div class="product-slider__item--image">
                    <img 
                        src="{{ product.featured_image | img_url: '500x' }}" 
                        alt="{{ product.title }}"
                        width="100%"
                        height="300"
                    >
                </div>
                <div class="flex flex-col product-slider__item--content">
                    <div class="product-slider__item--text">
                        <div class="flex align-center justify-between flex-wrap product-slider__item--header">
                            <h4 class="site-title__md">{{ product.title }}</h4>
                            <h3 class="site-title__lg">{{ product.price | money }}</h3>
                        </div>   
                        <div class="product-slider__item--desc">
                            <p>{{ product.description }}</p>
                        </div>                 
                    </div>
                    <a class="btn full" href="{{ product.url }}">
                        Get {{ parsedName[0] }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
