<div class="flex align-center payment-list">
    <div class="payment-icon">
        <img 
            src="{{ 'logo-gcash.png' | asset_url }}" 
            alt="GCash Logo"
            width=""
            height=""
        >
    </div>
    <div class="payment-icon">
        <img 
            src="{{ 'logo-maya.png' | asset_url }}" 
            alt="Maya Logo"
            width=""
            height=""
        >
    </div>
    <div class="payment-icon">
        <img 
            src="{{ 'logo-paypal.png' | asset_url }}" 
            alt="Paypal Logo"
            width=""
            height=""
        >
    </div>
    <div class="payment-icon">
        <img 
            src="{{ 'logo-mastercard.png' | asset_url }}" 
            alt="Master Card Logo"
            width=""
            height=""
        >
    </div>
    <div class="payment-icon">
        <img 
            src="{{ 'logo-visa.png' | asset_url }}" 
            alt="Visa Logo"
            width=""
            height=""
        >
    </div>
</div>