<section class="position-relative subscription-highlight">
    <div class="subscription-highlight__inner-wrapper">
        <div class="container subscription-highlight__text-wrapper">
            <div class="subscription-highlight__text-content">
                <h2 class="site-title__xxl">{{ section.settings.subscription_title }}</h2>
                <div class="subscription-highlight__description">
                    {{ section.settings.subscription_desc }}
                </div>
                <a href="{{ section.settings.subscription_button_link }}" class="btn white">
                    {{ section.settings.subscription_button_label }}
                </a>
            </div>
        </div>
        <div class="position-absolute subscription-highlight__background" style="background-image: url({{ section.settings.subscription_image |  image_url }})"></div>
    </div>
</section>

{% schema %}
{
    "name": "Subscription Hightlight",
    "settings": [
        {
            "type": "text", 
            "id": "subscription_title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "subscription_desc",
            "label": "Description"
        }, 
        {
            "type": "image_picker",
            "id": "subscription_image", 
            "label": "Image"
        }, 
        {
            "type": "text", 
            "id": "subscription_button_label",
            "label": "Button Label"
        },
        {
            "type": "text", 
            "id": "subscription_button_link",
            "label": "Button Link"
        }
    ]
}
{% endschema %}