<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Load and preload the critical CSS %}
    {{ 'global.css' | asset_url | stylesheet_tag: preload: true }}
    {% render 'vendor-stylesheets' %}
    {{ 'homepage.css' | asset_url | stylesheet_tag }}
    

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {% sections 'footer-group' %}

    {% render 'vendor-scripts' %}
    <script src="{{ 'main.js' | asset_url }}" defer></script>
  </body>
</html>