<section class="testimonials">
    <div class="container">
        <h2 class="text-center site-title__lg">{{ section.settings.section_title }}</h2>
    </div>
    <div class="testimonials__inner-wrapper">
        <div class="testimonials__carousel-container">
            <div id="testimonials" class="splide testimonials__carousel"> {% # .splide # %}
                <div class="splide__track"> {% # .splide__track # %}
                    <div class="splide__list testimonials__list"> {% # .splide__list # %}
                        {% for block in section.blocks %}
                            <div class="splide__slide flex flex-col testimonials__list--item"> {% # .splide__slide # %}
                                {% if block.settings.author_image %}
                                    <div class="testimonials__list--image">
                                        <img  
                                            src="{{ block.settings.author_image | img_url: '500x' }}" 
                                            alt="{{ block.settings.author }}"
                                            width="100%"
                                            height="280"
                                        >
                                    </div>
                                {% endif %}
                                <div class="testimonials__list--text-content">
                                    <h4>
                                        {{ block.settings.author }} {{ 'icon-check-green.svg' | inline_asset_content }}
                                    </h4>
                                    <div class="flex align-center justify-center testimonials__list--ratings">
                                        {% for i in (1..5) %}
                                            <span>
                                                {{ 'icon-star.svg' | inline_asset_content }}
                                            </span>
                                        {% endfor %}
                                    </div>
                                    <p>{{ block.settings.quote }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonials__carousel-nav">
            <div class="btn transparent testimonials__slider--arrow" id="testimonials-prev" data-direction="-1">
                {{ 'icon-caret-left.svg' | inline_asset_content }}
            </div>
            <div class="btn transparent testimonials__slider--arrow" id="testimonials-next" data-direction="+1">
                {{ 'icon-caret-right.svg' | inline_asset_content }}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Testimonial Section",
    "settings": [
        {
            "type": "text",
            "id": "section_title",
            "label": "Section Title",
            "default": "What our customers say"
        }
    ],
    "blocks": [
    {
        "type": "testimonial",
        "name": "Testimonial",
        "settings": [
            {
                "type": "text",
                "id": "author",
                "label": "Author Name"
            },
            {
                "type": "textarea",
                "id": "quote",
                "label": "Quote"
            },
            {
                "type": "image_picker",
                "id": "author_image",
                "label": "Author Image"
            }, 
            {
                "type": "checkbox", 
                "id": "is_featured", 
                "label": "Featured Testimonial",
                "default": false
            }
        ]
    }
    ],
    "max_blocks": 10,
    "presets": [
        {
            "name": "Testimonial Section",
            "category": "Sections"
        }
    ]
}
{% endschema %}
