<section class="promo-header">
    <div class="container text-white">
      <p>Sign up and get 25% OFF on all drinks!</p>
    </div>
</section>

<header>
    <div class="container">
        <div class="header__inner-wrapper">
            <div class="header__menu">
                {% for link in settings.menu.links %}
                    {% assign is_active = false %}

                    {% if link.url == request.path or link.url == request.page_handle %}
                        {% assign is_active = true %}
                    {% endif %}

                    <a 
                        href="{{ link.url }}" 
                        class="nav-link{% if is_active %} active{% endif %}"
                    >
                        {{ link.title }}
                    </a>
                {% endfor %}
            </div>

            <div class="header__logo">
                <a href="{{ routes.root_url }}">
                    <img 
                        src="{{ settings.logo | image_url }}" 
                        alt="{{ shop.name }}"
                        width="80"
                        height="80"
                    >
                </a>
            </div>

            <div class="header__icons">
                <a href="{{ routes.search_url }}">
                    {{ 'icon-search.svg' | inline_asset_content }}
                </a>

                {% if shop.customer_accounts_enabled %}
                    {{ 'icon-user.svg' | inline_asset_content | link_to: routes.account_url }}
                {% endif %}

                <a href="{{ routes.cart_url }}">
                    {% if cart.item_count > 0 %}
                        <sup>{{ cart.item_count }}</sup>
                    {% endif %}
                    {{ 'icon-shopping-bag.svg' | inline_asset_content }}
                </a>
            </div>
        </div>
    </div>  
</header>

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
